
.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}
label {
    display: block;
    font:
            1rem 'Fira Sans',
            sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}

.v-field--center-affix .v-label.v-field-label {
    top: 37%;
    transform: translateY(-50%);
    margin-left: 0px;
}

.v-text-field .v-field {
    cursor: text;
    padding-left: 0;
}

.centered-container {
    padding-top: 200px;
    height: 50vh;
}








